.App {
  text-align: center;
  height: 100%;
  background-color: red;
}

.ant-layout-content {
  min-height: 650px!important;
}

@font-face {
  font-family: fontHeader;
  src: url('./../assets/fonts/Urban Class.ttf');
}