.Team {
    width: 60%;
    margin: 15px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

a {
    cursor: pointer; 
}


.cardTeam {
    width: 60%;
    margin: 15px auto;
    padding: 16px;
}

.buttonToLeft  {
    float: right;
    padding: 10px;
}