
.App-footer {
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    padding: 15px;
    background-image: url("./../../assets/footer1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
  }
  
  .gutter-example .ant-row > div {
    background: transparent;
    border: 0;
  }

  .gutter-box {
    padding: 5px 0;
    min-height: 150px;
    font-size: 1.1em;
    /* background-color: rgb(255, 255, 255);
    opacity: 0.2; */
  }

.titleFooter {
  color: white!important;
}

.linkFooter {
  color: white!important;
  margin-bottom: 50px;
  padding: 10px;
}

.copyright {
  font-size: 0.8em;
  color: lightgray;
}