.App-header {
  background-image: url("./../../assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 175px;
  padding: 20px;
}




  .App-title {
    font-size: 2.5em;
    text-align: center;
    color: rgb(255, 255, 255);
    word-spacing: 15px;
    font-family: fontHeader;
    margin-top: 25px;

  }
  
  .App-intro {
    font-size: large;
  }
  